@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F6F6;
  --foreground: #1F1F1F;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-sideways {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

