@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F6F6;
  --foreground: #1F1F1F;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-sideways {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.hero {
  background-image: url(./assets/hero_placeholder.jpg);
  background-size: 100vw;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

